src/main/resources/wsdl/1cSiteExchange.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="siteexchange.payintech.kz"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://www.payintech.kz"
		xmlns:xsd2="siteexchange.payintech.kz"
		name="SiteExchange"
		targetNamespace="siteexchange.payintech.kz">
	<types>
		<xs:schema xmlns:tns="http://www.payintech.kz"
				xmlns:xs="http://www.w3.org/2001/XMLSchema"
				targetNamespace="http://www.payintech.kz"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="Address">
				<xs:sequence>
					<xs:element name="Country"
							type="xs:string"/>
					<xs:element name="Region"
							type="xs:string"/>
					<xs:element name="City"
							type="xs:string"/>
					<xs:element name="Street"
							type="xs:string"/>
					<xs:element name="House"
							type="xs:string"/>
					<xs:element name="Apartment"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Client">
				<xs:sequence>
					<xs:element name="Surname"
							type="xs:string"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="Middlename"
							type="xs:string"/>
					<xs:element name="email"
							type="xs:string"/>
					<xs:element name="Phone"
							type="xs:string"/>
					<xs:element name="IIN"
							type="xs:string"/>
					<xs:element name="birthday"
							type="xs:date"/>
					<xs:element name="gender"
							type="xs:string"/>
					<xs:element name="IDType"
							type="xs:string"/>
					<xs:element name="IDCard"
							type="xs:string"/>
					<xs:element name="IDSeries"
							type="xs:string"/>
					<xs:element name="IDCardValidity"
							type="xs:date"/>
					<xs:element name="IDCardDateIssue"
							type="xs:date"/>
					<xs:element name="IDCardIssuingAuthority"
							type="xs:string"/>
					<xs:element name="RegionKATO"
							type="xs:string"/>
					<xs:element name="ResidenceAddress"
							type="tns:Address"/>
					<xs:element name="RegistrationAddress"
							type="tns:Address"/>
					<xs:element name="work"
							type="xs:string"/>
					<xs:element name="workname"
							type="xs:string"/>
					<xs:element name="dohod"
							type="xs:integer"/>
					<xs:element name="workaddress"
							type="xs:string"/>
					<xs:element name="workposition"
							type="xs:string"/>
					<xs:element name="workphone"
							type="xs:string"/>
					<xs:element name="Relative"
							type="tns:ContactFaces"/>
					<xs:element name="Colleague"
							type="tns:ContactFaces"/>
					<xs:element name="BankAccountNumber"
							type="xs:string"/>
					<xs:element name="BankBIC"
							type="xs:string"/>
					<xs:element name="BankName"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactFaces">
				<xs:sequence>
					<xs:element name="NameContact"
							type="xs:string"/>
					<xs:element name="PhoneContact"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DataRowLoanSchedule">
				<xs:sequence>
					<xs:element name="Number"
							type="xs:integer"/>
					<xs:element name="MonthPayment"
							type="xs:string"/>
					<xs:element name="PaymentDate"
							type="xs:date"/>
					<xs:element name="MainDebt"
							type="xs:decimal"/>
					<xs:element name="Reward"
							type="xs:decimal"/>
					<xs:element name="CommissionObtainingLoan"
							type="xs:decimal"/>
					<xs:element name="CommissionServicingLoan"
							type="xs:decimal"/>
					<xs:element name="TotalAmountDebt"
							type="xs:decimal"/>
					<xs:element name="AmountToBePaid"
							type="xs:decimal"/>
					<xs:element name="Insurance"
							type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InformationByRowSchedule">
				<xs:sequence>
					<xs:element name="DatePayment"
							type="xs:date"/>
					<xs:element name="AmountPayment"
							type="xs:decimal"/>
					<xs:element name="AmountPaid"
							type="xs:decimal"/>
					<xs:element name="DaysOverdue"
							type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InformationSchedule">
				<xs:sequence>
					<xs:element name="RowSchedule"
							type="tns:InformationByRowSchedule"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InformationTheAgreement">
				<xs:sequence>
					<xs:element name="Date"
							type="xs:dateTime"/>
					<xs:element name="Number"
							type="xs:string"/>
					<xs:element name="LoanTerm"
							type="xs:integer"/>
					<xs:element name="LoanAmount"
							type="xs:integer"/>
					<xs:element name="Status">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Issued"/>
								<xs:enumeration value="Redeemable"/>
								<xs:enumeration value="Restructured"/>
								<xs:enumeration value="Decommissioned"/>
								<xs:enumeration value="ScheduledForEarlyRedemption"/>
								<xs:enumeration value="RedeemedEarly"/>
								<xs:enumeration value="Redeemed"/>
								<xs:enumeration value="SubmittedToCourt"/>
								<xs:enumeration value="Expired"/>
								<xs:enumeration value="Undefined"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BalanceMainDebt"
							type="xs:decimal"/>
					<xs:element name="Reward"
							type="xs:decimal"/>
					<xs:element name="AmountPenalty"
							type="xs:decimal"/>
					<xs:element name="DaysOverdue"
							type="xs:integer"/>
					<xs:element name="LoanMethod"
							type="tns:ListLoanMethod"/>
					<xs:element name="LoanInterestRate"
							type="xs:float"/>
					<xs:element name="EffectiveRate"
							type="xs:float"/>
					<xs:element name="PaymentSchedule"
							type="tns:InformationSchedule"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ListLoanMethod">
				<xs:restriction base="xs:string">
					<xs:enumeration value="AnnuityPayments"/>
					<xs:enumeration value="AnnuityPaymentsWithGracePeriod"/>
					<xs:enumeration value="MonthlyPrincipalDebtRepaymentEqualShares"/>
					<xs:enumeration value="Undefined"/>
					<xs:enumeration value="RepaymentMainDebtGracePeriod"/>
					<xs:enumeration value="RepaymentDebtEndTerm"/>
					<xs:enumeration value="CustomRepaymentScheme"/>
					<xs:enumeration value="RepaymentDebtInterestEndPeriod"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="LoanSchedule">
				<xs:sequence>
					<xs:element name="OneTimeCommissionObtainingLoan"
							type="xs:decimal"/>
					<xs:element name="OneTimeCommissionServicingLoan"
							type="xs:decimal"/>
					<xs:element name="OneTimeInsurance"
							type="xs:decimal"/>
					<xs:element name="EffectiveRate"
							type="xs:float"/>
					<xs:element name="AmountOverpayment"
							type="xs:decimal"/>
					<xs:element name="TotalAmountToBePaid"
							type="xs:decimal"/>
					<xs:element name="RowLoanSchedule"
							type="tns:DataRowLoanSchedule"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NewOrder">
				<xs:sequence>
					<xs:element name="Client"
							type="tns:Client"/>
					<xs:element name="LoanTerm"
							type="xs:integer"/>
					<xs:element name="LoanAmount"
							type="xs:integer"/>
					<xs:element name="CredProd"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultDataNumberDate">
				<xs:sequence>
					<xs:element name="Number"
							type="xs:string"/>
					<xs:element name="DateTime"
							type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultDataPDF">
				<xs:sequence>
					<xs:element name="Contract"
							type="xs:string"/>
					<xs:element name="Schedule"
							type="xs:string"/>
					<xs:element name="Number"
							type="xs:string"/>
					<xs:element name="DateTime"
							type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponse">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsegetLoanScheduleCalculation">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							type="tns:LoanSchedule"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsegetNewContract">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							type="tns:ResultDataPDF"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsegetNewOrder">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							type="tns:ResultDataNumberDate"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsegetSummPaymentSchedule">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							type="tns:SummPaymentSchedule"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsegetTotalDebt">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							type="tns:TotalDebt"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsegetUserContractsList">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							type="tns:InformationTheAgreement"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsegetUserOrderList">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
					<xs:element name="Data"
							type="tns:UserOrderList"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultResponsesendBorrowerSignature">
				<xs:sequence>
					<xs:element name="Result"
							type="xs:string"/>
					<xs:element name="Error"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SummPaymentSchedule">
				<xs:sequence>
					<xs:element name="Number"
							type="xs:string"/>
					<xs:element name="DateTime"
							type="xs:dateTime"/>
					<xs:element name="ScheduledLoanDate"
							type="xs:date"/>
					<xs:element name="AmountLoan"
							type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TotalDebt">
				<xs:sequence>
					<xs:element name="BalanceMainDebt"
							type="xs:decimal"/>
					<xs:element name="Reward"
							type="xs:decimal"/>
					<xs:element name="AmountPenalty"
							type="xs:decimal"/>
					<xs:element name="AmountFine"
							type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UserOrderList">
				<xs:sequence>
					<xs:element name="DateTime"
							type="xs:dateTime"/>
					<xs:element name="Number"
							type="xs:string"/>
					<xs:element name="LoanMethod"
							type="xs:string"/>
					<xs:element name="LoanTerm"
							type="xs:integer"/>
					<xs:element name="LoanAmount"
							type="xs:float"/>
					<xs:element name="Status"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://www.payintech.kz"
				xmlns:xs2="siteexchange.payintech.kz"
				targetNamespace="siteexchange.payintech.kz"
				elementFormDefault="qualified">
			<xs:import namespace="http://www.payintech.kz"/>
			<xs:element name="TestConnection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="p"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TestConnectionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserOrderList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IIN"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserOrderListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsegetUserOrderList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserContractsList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IIN"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserContractsListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsegetUserContractsList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getNewOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Data"
								type="xs1:NewOrder"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getNewOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsegetNewOrder"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getNewContract">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Data"
								type="xs1:ResultDataNumberDate"/>
						<xs:element name="LoanInterestRate"
								type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getNewContractResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsegetNewContract"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendBorrowerSignature">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Data"
								type="xs1:ResultDataNumberDate"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendBorrowerSignatureResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsesendBorrowerSignature"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getLoanScheduleCalculation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Summ"
								type="xs:decimal"/>
						<xs:element name="CreditTerm"
								type="xs:integer"/>
						<xs:element name="LoanInterestRate"
								type="xs:float"/>
						<xs:element name="CreditProduct"
								type="xs:string"/>
						<xs:element name="LoanMethod"
								type="xs1:ListLoanMethod"/>
						<xs:element name="Date"
								type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getLoanScheduleCalculationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsegetLoanScheduleCalculation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTotalDebt">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IIN"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTotalDebtResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsegetTotalDebt"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSummPaymentSchedule">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IIN"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSummPaymentScheduleResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:ResultResponsegetSummPaymentSchedule"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="TestConnectionRequestMessage">
		<part name="parameters"
				element="tns:TestConnection"/>
	</message>
	<message name="TestConnectionResponseMessage">
		<part name="parameters"
				element="tns:TestConnectionResponse"/>
	</message>
	<message name="getUserOrderListRequestMessage">
		<part name="parameters"
				element="tns:getUserOrderList"/>
	</message>
	<message name="getUserOrderListResponseMessage">
		<part name="parameters"
				element="tns:getUserOrderListResponse"/>
	</message>
	<message name="getUserContractsListRequestMessage">
		<part name="parameters"
				element="tns:getUserContractsList"/>
	</message>
	<message name="getUserContractsListResponseMessage">
		<part name="parameters"
				element="tns:getUserContractsListResponse"/>
	</message>
	<message name="getNewOrderRequestMessage">
		<part name="parameters"
				element="tns:getNewOrder"/>
	</message>
	<message name="getNewOrderResponseMessage">
		<part name="parameters"
				element="tns:getNewOrderResponse"/>
	</message>
	<message name="getNewContractRequestMessage">
		<part name="parameters"
				element="tns:getNewContract"/>
	</message>
	<message name="getNewContractResponseMessage">
		<part name="parameters"
				element="tns:getNewContractResponse"/>
	</message>
	<message name="sendBorrowerSignatureRequestMessage">
		<part name="parameters"
				element="tns:sendBorrowerSignature"/>
	</message>
	<message name="sendBorrowerSignatureResponseMessage">
		<part name="parameters"
				element="tns:sendBorrowerSignatureResponse"/>
	</message>
	<message name="getLoanScheduleCalculationRequestMessage">
		<part name="parameters"
				element="tns:getLoanScheduleCalculation"/>
	</message>
	<message name="getLoanScheduleCalculationResponseMessage">
		<part name="parameters"
				element="tns:getLoanScheduleCalculationResponse"/>
	</message>
	<message name="getTotalDebtRequestMessage">
		<part name="parameters"
				element="tns:getTotalDebt"/>
	</message>
	<message name="getTotalDebtResponseMessage">
		<part name="parameters"
				element="tns:getTotalDebtResponse"/>
	</message>
	<message name="getSummPaymentScheduleRequestMessage">
		<part name="parameters"
				element="tns:getSummPaymentSchedule"/>
	</message>
	<message name="getSummPaymentScheduleResponseMessage">
		<part name="parameters"
				element="tns:getSummPaymentScheduleResponse"/>
	</message>
	<portType name="SiteExchangePortType">
		<operation name="TestConnection">
			<input message="tns:TestConnectionRequestMessage"/>
			<output message="tns:TestConnectionResponseMessage"/>
		</operation>
		<operation name="getUserOrderList">
			<input message="tns:getUserOrderListRequestMessage"/>
			<output message="tns:getUserOrderListResponseMessage"/>
		</operation>
		<operation name="getUserContractsList">
			<input message="tns:getUserContractsListRequestMessage"/>
			<output message="tns:getUserContractsListResponseMessage"/>
		</operation>
		<operation name="getNewOrder">
			<input message="tns:getNewOrderRequestMessage"/>
			<output message="tns:getNewOrderResponseMessage"/>
		</operation>
		<operation name="getNewContract">
			<input message="tns:getNewContractRequestMessage"/>
			<output message="tns:getNewContractResponseMessage"/>
		</operation>
		<operation name="sendBorrowerSignature">
			<input message="tns:sendBorrowerSignatureRequestMessage"/>
			<output message="tns:sendBorrowerSignatureResponseMessage"/>
		</operation>
		<operation name="getLoanScheduleCalculation">
			<input message="tns:getLoanScheduleCalculationRequestMessage"/>
			<output message="tns:getLoanScheduleCalculationResponseMessage"/>
		</operation>
		<operation name="getTotalDebt">
			<input message="tns:getTotalDebtRequestMessage"/>
			<output message="tns:getTotalDebtResponseMessage"/>
		</operation>
		<operation name="getSummPaymentSchedule">
			<input message="tns:getSummPaymentScheduleRequestMessage"/>
			<output message="tns:getSummPaymentScheduleResponseMessage"/>
		</operation>
	</portType>
	<binding name="SiteExchangeSoapBinding"
			type="tns:SiteExchangePortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="TestConnection">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:TestConnection"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getUserOrderList">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getUserOrderList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getUserContractsList">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getUserContractsList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getNewOrder">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getNewOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getNewContract">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getNewContract"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="sendBorrowerSignature">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:sendBorrowerSignature"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getLoanScheduleCalculation">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getLoanScheduleCalculation"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getTotalDebt">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getTotalDebt"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="getSummPaymentSchedule">
			<soapbind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getSummPaymentSchedule"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="SiteExchangeSoap12Binding"
			type="tns:SiteExchangePortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="TestConnection">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:TestConnection"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getUserOrderList">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getUserOrderList"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getUserContractsList">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getUserContractsList"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getNewOrder">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getNewOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getNewContract">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getNewContract"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="sendBorrowerSignature">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:sendBorrowerSignature"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getLoanScheduleCalculation">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getLoanScheduleCalculation"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getTotalDebt">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getTotalDebt"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="getSummPaymentSchedule">
			<soap12bind:operation style="document"
					soapAction="siteexchange.payintech.kz#SiteExchange:getSummPaymentSchedule"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="SiteExchange">
		<port name="SiteExchangeSoap"
				binding="tns:SiteExchangeSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://mfo.payintech.kz/DEMO_MFO_pintech/ws/SiteExchange"/>
		</port>
		<port name="SiteExchangeSoap12"
				binding="tns:SiteExchangeSoap12Binding">
			<soap12bind:address location="http://mfo.payintech.kz/DEMO_MFO_pintech/ws/SiteExchange"/>
		</port>
	</service>
</definitions>