src/main/resources/wsdl/kdnService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kdn2.ws.creditinfo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kdn2.ws.creditinfo.com/" name="kdnService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="./kdnService_1.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://web.incomes.service.fcb.com/" schemaLocation="./kdnService_2.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://tempuri.org/" schemaLocation="./kdnService_3.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kdn2.ws.creditinfo.com/" schemaLocation="./kdnService_4.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bip.bee.kz/common/v10/Types" schemaLocation="./kdnService_5.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bip.bee.kz/SyncChannel/v10/Types/Response" schemaLocation="./kdnService_6.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bip.bee.kz/SyncChannel/v10/Types/Request" schemaLocation="./kdnService_7.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bip.bee.kz/SyncChannel/v10/Types" schemaLocation="./kdnService_8.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bip.bee.kz/SyncChannel/v10/Interfaces" schemaLocation="./kdnService_9.xsd" />
</xsd:schema>
</types>
<message name="storekdnReqWithIncome">
<part name="CigWsHeader" element="tns:CigWsHeader" />
<part name="parameters" element="tns:StorekdnReqWithIncome" />
</message>
<message name="storekdnReqWithIncomeResponse">
<part name="parameters" element="tns:kdnReqResponse" />
</message>
<message name="StorekdnReq">
<part name="parameters" element="tns:StorekdnReq" />
<part name="CigWsHeader" element="tns:CigWsHeader" />
</message>
<message name="StorekdnReqResponse">
<part name="result" element="tns:kdnReqResponse" />
</message>
<message name="StorekdnReqV2">
<part name="parameters" element="tns:StorekdnReqV2" />
<part name="CigWsHeader" element="tns:CigWsHeader" />
</message>
<message name="StorekdnReqV2Response">
<part name="result" element="tns:kdnReqResponse" />
</message>
<portType name="kdnService">
<operation name="storekdnReqWithIncome" parameterOrder="CigWsHeader parameters">
<input message="tns:storekdnReqWithIncome" />
<output message="tns:storekdnReqWithIncomeResponse" />
</operation>
<operation name="StorekdnReq" parameterOrder="parameters CigWsHeader">
<input message="tns:StorekdnReq" />
<output message="tns:StorekdnReqResponse" />
</operation>
<operation name="StorekdnReqV2" parameterOrder="parameters CigWsHeader">
<input message="tns:StorekdnReqV2" />
<output message="tns:StorekdnReqV2Response" />
</operation>
</portType>
<binding name="kdnServicePortBinding" type="tns:kdnService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="storekdnReqWithIncome">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:storekdnReqWithIncome" part="CigWsHeader" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="StorekdnReq">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:StorekdnReq" part="CigWsHeader" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="StorekdnReqV2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:StorekdnReqV2" part="CigWsHeader" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="kdnService">
<port name="kdnServicePort" binding="tns:kdnServicePortBinding">
<soap:address location="http://www-test2.1cb.kz/kdn/kdnService" />
</port>
</service>
</definitions>