src/main/resources/wsdl/kdnService_7.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema xmlns:tns="http://bip.bee.kz/SyncChannel/v10/Types/Request" xmlns:ns2="http://bip.bee.kz/SyncChannel/v10/Types" xmlns:ns1="http://bip.bee.kz/common/v10/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bip.bee.kz/SyncChannel/v10/Types/Request">

<xs:import namespace="http://bip.bee.kz/common/v10/Types" schemaLocation="./kdnService_5.xsd" />

<xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types" schemaLocation="./kdnService_8.xsd" />

<xs:complexType name="RequestData">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncSendMessageRequest">
<xs:sequence>
<xs:element name="requestInfo" type="ns2:SyncMessageInfo" />
<xs:element name="requestData" type="tns:RequestData" />
</xs:sequence>
</xs:complexType>
</xs:schema>