src/main/resources/wsdl/kdnService_5.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema xmlns:tns="http://bip.bee.kz/common/v10/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bip.bee.kz/common/v10/Types">

<xs:complexType name="StatusInfo">
<xs:sequence>
<xs:element name="code" type="xs:string" />
<xs:element name="message" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SenderInfo">
<xs:sequence>
<xs:element name="senderId" type="xs:string" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ErrorInfo">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" />
<xs:element name="errorMessage" type="xs:string" />
<xs:element name="errorData" type="xs:string" minOccurs="0" />
<xs:element name="errorDate" type="xs:dateTime" />
<xs:element name="subError" type="tns:ErrorInfo" minOccurs="0" />
<xs:element name="sessionId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Property">
<xs:sequence>
<xs:element name="key" type="xs:string" />
<xs:element name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>